#main.wrapper.clearfix
  %article
    %header
      %h1
        Academics (
        %a(href="http://moacir.com/pdfs/MoacirPdeSaPereira-cv.pdf") CV pdf
        )
    %section
      %a#dissertation_subhead.trigger(href="#{subheads["dissertation"][:anchor]}" title="Click to expand/collapse topic")
        %h2 Dissertation →
      #dissertation_body.toggle(style="#{subheads["dissertation"][:showme]}")
        :markdown
          *The Site of the Novel: Objects in American Realism, 1930–1940* ([abstract pdf](http://moacir.com/pdfs/MoacirPdeSaPereira-dissertation-abstract.pdf)) is the name of the dissertation I wrote and defended in January 2014 under the direction of [Lauren Berlant](http://english.uchicago.edu/faculty/berlant) and [Kenneth W. Warren](http://english.uchicago.edu/faculty/warren). The dissertation sits at the intersection of my interests in:

          * **Early 20th century American realist novels**. I am writing about James T. Farrell’s *Studs Lonigan* trilogy, John Dos Passos’s *U.S.A.*, Ernest Hemingway’s *For Whom the Bell Tolls*, and Sinclair Lewis’s *It Can’t Happen Here*. Each work engages with radical and communist politics of the early 20th century.

          * **(Human) geography and quantitative literary criticism**. All these works are very closely attached to the real world, and I have been able to collect data about the geographies constructed in the worlds of the novels. Using techniques from GIS and approaching the works geographically / spatially drew out questions about more fundamental ways in which the novel works.

          * **Belonging and community**. The works I investigate feature human characters that often blend into their surroundings, either becoming part of a larger human community or hanging together as part of a larger site of human and nonhuman objects.

          * **Realism as a literary genre and realism as a philosophical ontology**. As the notions of individual (or character) and community (of objects) become more and more inter-related while still independent, it becomes impossible to maintain a human-centric, correlationist account of the worlds within literature.

          * **Non-scalar and affective accounts of relations**. Entities like communities, characters and their surroundings become considerable as proper “sites,” with their own internal relationships that can be occasionally rhythmically stratifying and occasionally unpredictably deterritorializing, reforming the object of the site. As the component objects keep agitating each other they imply from another direction the necessity of a non-human, site-based literary criticism.

          * **Metonymy and chronotopes**. A non-human, site-based literary criticism forces humans, characters, texts, worlds in texts, and the like into a heteroglottic cacophony of objects—all real, all metonymically (as opposed to metaphorically) connected. Furthermore, the worlds in novels are chronotopically connected to the worlds in which the novels are written, as the author and reader are both influenced by the specific chronotopes of their own sites.

          * **Counterfactual worlds and alternatives to neoliberalism**. The specific chronotopes of the novels influence the worlds in which they exist as well, meaning every realist novel permits, in J. K. Gibson-Graham’s [words](http://law.uvic.ca/demcon/victoria_colloquium/documents/gibson_2008_progress_paper.pdf), the “creativity to generate actual possibilities where none formerly existed.” Every novel, hence, is a box of revolutionary building blocks.

    %section
      %a#otherinterests_subhead.trigger(href="#{subheads["otherinterests"][:anchor]}" title="Click to expand/collapse topic")
        %h2 Other interests →
      #otherinterests_body.toggle(style="#{subheads["otherinterests"][:showme]}")
        :markdown
          Beyond what gets sufficient coverage in my dissertation, there are a wider set of interests that circulate around those key themes. I keep tabs on work done on early 20th century African-American and American communist literature, and I was lucky enough to assist in a course on latin@ literature and intellectual thought. Regarding the novel as a generic object of study, I’m interested in theories of the novel, histories of the novel, and contemporary attempts to use “distant reading” techniques to help better conceptualize this giant object called “the novel.”

          More specifically, the way in which geography is plotted in the novel remains a top interest of mine. On the one hand, I seek to use techniques from human geography in my research, to try and reclaim a voice for space alongside history in the novel. On the other hand, I am also interested in how quantitative approaches to geography, namely through GIS, can also suggest new avenues of literary criticism. Though GIS plays a very modest role in my dissertation, each chapter’s genesis came from specifically geographical questions about how the actions in the novel are spatially distributed.

          Additionally, my interest in community and belonging extends other forms of identity expression within groups, such as nationalism. This is best expressed in the course I designed and taught in 2008, “Male Fantasy Sports” ([syllabus](http://moacir.com/pdfs/ENGL-25917_GNDR-21803_syllabus.pdf)), where the students and I read theoretical texts on masculinity, sexuality, and nationalism before moving to three literary objects about baseball and three about football (soccer) in England.

          The literature surrounding English football hooligans, including fictional objects about them, fictional objects by them, as well as ethnographies and memoirs, continues to appeal to me as a crucible in which bubble concerns about the state, empire, individuality, and the power and appeal of the collective. Some of these ideas I collected into a 2012 article for *The Classical*, called “[Paris is Earning](http://theclassical.org/articles/paris-is-earning),” about neoliberalism and Parisian football hooligans. While not a work of literary criticism, the article shows a possible future line of inquiry for me.

    %section
      %a#publishing_subhead.trigger(href="#{subheads["publishing"][:anchor]}" title="Click to expand/collapse topic")
        %h2 Publications, etc. →
      #publishing_body.toggle(style="#{subheads["publishing"][:showme]}")
        %section
          %a#poparticles_subhead.trigger(href="#{subheads["poparticles"][:anchor]}" title="Click to expand/collapse topic")
            %h3 Popular articles →
          #poparticles_body.toggle(style="#{subheads["poparticles"][:showme]}")
            :markdown
              * “Society and Soccer.” *The Classical*. [18 March 2014](http://theclassical.org/articles/society-and-soccer)

              * “Paris Is Earning.” *The Classical*. [9 January 2012](http://theclassical.org/articles/paris-is-earning).

              * “#JamesFrancoFacts.” *The Chronicle Review*. [27 February 2011](http://chronicle.com/article/JamesFrancoFacts/126537/).

              * “Lietuva — ne MonoLietuva.” *Lrytas.lt*. [22 January 2008](http://www.lrytas.lt/-12009802021199868203-lietuva-ne-monolietuva.htm). [[English version](http://www.lithchat.com/culture-etc/evading-the-monolithuania.html)]

        %section
          %a#presentations_subhead.trigger(href="#{subheads["presentations"][:anchor]}" title="Click to expand/collapse topic")
            %h3 Presentations →
          #presentations_body.toggle(style="#{subheads["presentations"][:showme]}")
            :markdown
              * “Robert Jordan’s Nearest Neighbor: A *For Whom the Bell Tolls* GIS” at *[Telling stories with maps: the geoweb, qualitative GIS and narrative mapping](http://hestia.open.ac.uk/telling-stories-with-maps/)* at the [Digital Humanities Hub](http://www.birmingham.ac.uk/facilities/digitalhumanitieshub/index.aspx) at the University of Birmingham. April 2014. ([slides](/talks/robert-jordans-nearest-neighbor/))

              * “*Studs Lonigan*’s Failing Bodies and Other Objects Subject to Change” at the [Interdisciplinary Workshop in Paris](http://cas.uchicago.edu/workshops/workshop-info/interdisciplinary-workshop-in-paris/). February 2012.

              * “‘Think about Montana. *I Can’t*. Think about Madrid. *I Can’t*. Think about a Cool Drink of Water. *All Right*.’” at the [Interdisciplinary Workshop in Paris](http://cas.uchicago.edu/workshops/workshop-info/interdisciplinary-workshop-in-paris/). March 2011.

              * At “Frontiers in Spatial Humanities” at the [NEH Institute for Enabling Geospatial Scholarship](http://www2.lib.virginia.edu/scholarslab/geospatial/curriculum.html#scholarship) at the Scholar's Lab at UVA. May 2010.

              * “America’s Largest DG Network: The U.S.A. as the Protagonist of *U.S.A*.” at the [Interdisciplinary Workshop in Paris](http://cas.uchicago.edu/workshops/workshop-info/interdisciplinary-workshop-in-paris/). December 2009.

              * “Lines of Flight (and Other Nation-Building Vectors)” at the [American Cultures Workshop](http://cas.uchicago.edu/workshops/amercult/). May 2009.

              * “Beyond ‘Flat Maps’: GIS in the Humanities” for a [Humanities Computing TechTalk](http://humanities.uchicago.edu/facultystaff/#humcomp). [June 2009](http://www.vimeo.com/4900082).

        %section
          %a#selfpublishing_subhead.trigger(href="#{subheads["selfpublishing"][:anchor]}" title="Click to expand/collapse topic")
            %h3 Self-publishing →
          #selfpublishing_body.toggle(style="#{subheads["selfpublishing"][:showme]}")
            :markdown
              * [*Donkey Hottie*](http://moacir.com/donkeyhottie/).

              * [*Lithchat*](http://www.lithchat.com/). (now on hiatus)

        %section
          %a#cartography_subhead.trigger(href="#{subheads["cartography"][:anchor]}" title="Click to expand/collapse topic")
            %h3 Cartography →
          #cartography_body.toggle(style="#{subheads["cartography"][:showme]}")
            :markdown
              * “Reorganization of Princely Hyderabad” in Datla, Kavita. *[The Language of Secular Islam: Urdu Nationalism and Colonial India](http://www.uhpress.hawaii.edu/p-8940-9780824836092.aspx)*. Honolulu, HI: University of Hawai‘i Press, 2013.

              * Multiple maps in Howard, Hugh. *[Mr. and Mrs. Madison’s War: America’s First Couple and the Second War of Independence](http://hughhoward.com/?p=15)*. New York, NY: Bloomsbury Press, 2012.

              * “Pakistan.” in Ahmed, Manan. *[Where the Wild Frontiers Are: Pakistan and the American Imagination](http://www.justworldbooks.com/books/151-where-the-wild-frontiers-are%253a-pakistan-and-the-american-imagination)*. Charlottesville, VA: Just World Books, 2011.

              * “[GIS](http://moacir.com/donkeyhottie/tag/gis/)” tag at *Donkey Hottie*, which includes nonce maps for quick analysis.

    %section
      %a#teaching_subhead.trigger(href="#{subheads["teaching"][:anchor]}" title="Click to expand/collapse topic")
        %h2 Teaching →
      #teaching_body.toggle(style="#{subheads["teaching"][:showme]}")
        :markdown
          * Lithuanian at the [Vilnius Gediminas Technical University](http://ukk.ki.vgtu.lt/en), from 2014.

          * English at the [École nationale des chartes](http://www.enc.sorbonne.fr/), from 2010–2011.

          * “[Male Fantasy Sports](http://english.uchicago.edu/course_search/results/fantasy%20sports)” at the [University of Chicago](http://english.uchicago.edu) in Winter, 2008. Syllabus ([pdf](http://moacir.com/pdfs/ENGL-25917_GNDR-21803_syllabus.pdf), [GitHub](http://github.com/muziejus/male-fantasy-sports)). [Evaluations](https://classes.uchicago.edu/loggedin/evaluation.php?id=4501) (for UofC computers).

          * (As teaching assistant) “Latina/o Intellectual Thought” in Spring, 2008, with [Raúl Coronado, Jr](http://ethnicstudies.berkeley.edu/faculty/profile.php?person=123).

          * (As teaching assistant) “Shakespeare: Histories and Comedies” in Winter, 2006, with [David Bevington](http://english.uchicago.edu/faculty/bevington).

          * “From Madrid to Chicago with Love: Communism and Literature in the 1930s” (proposed syllabus on [GitHub](https://github.com/muziejus/from-chicago-to-madrid-with-love))

  %aside
    %h1 Computing
    :markdown
      I have worked in information technology in some capacity since I was 16, and this exposure has affected my scholarship, inspiring me to try to use what I learn at work while solving technical problems to solve literary problems presented by the texts I study.

    %a#tinkering_subhead.trigger(href="#{subheads["tinkering"][:anchor]}" title="Click to expand/collapse topic")
      %h2 Tinkering →
    #tinkering_body.toggle(style="#{subheads["tinkering"][:showme]}")
      :markdown
        * [Bučinėlapis](http://bucinelapis.herokuapp.com/). A redevelopment of the [Toronto Kiss Map](http://torontokissmap.com), but in Vilnius and using [Open Street Map](http://openstreetmap.org). Ruby/Sinatra & Postgres.

        * [@MarkovChainMe](http://twitter.com/markovchainme) and [@KarlMarxovChain](http://twitter.com/karlmarxovchain). Two twitter bots that [create Markov chains](http://moacir.com/donkeyhottie/2012/12/17/markov-chain-robots-invade-twitter/). Ruby.

        * [@MollyBloombot](http://twitter.com/mollybloombot). A twitter bot that [responds to queries](http://moacir.com/donkeyhottie/2012/01/08/do-bot-characters-from-ulysses-dream-of-electric-blazes-boylans/) about and quotes from the final episode of *Ulysses*. Ruby.

        * [moacir.com on GitHub](https://github.com/muziejus/simple-sinatra-homepage). I’ve opened up the source code to this very website on GitHub. Ruby/Sinatra & JQuery.

        * [#MLA14 badge generator](http://mlabadge.herokuapp.com). A badge generator for the [MLA](http://www.mla.org) convention. Ruby/Sinatra & Postgres.

        * [25 random lines from *Ulysses*](http://moacir.com/donkeyhottie/showsomeulysseslines.php). PHP.

        * [25 random English words](http://moacir.com/donkeyhottie/showsomewords.php). PHP.

        * [2010 FIFA World Cup Challenge](http://lithchat.com/fifa2010). PHP & MySQL.

        * [Baseball Pace Calculator](http://www.1984produkts.com/baseball.html). Figures out how many homeruns (or whatever) a player is on pace for. PHP.

        * [Procrastination hack](http://www.1984produkts.com/procrastination-hack/). A set of countdown timers that help manage your time based on the [(10 + 2)*5 algorithm](http://moacir.com/donkeyhottie/2009/11/25/1025-web-script-for-procrastinators/). JQuery.

    %a#tools_subhead.trigger(href="#{subheads["tools"][:anchor]}" title="Click to expand/collapse topic")
      %h2 Tools →
    #tools_body.toggle(style="#{subheads["tools"][:showme]}")
      :markdown
        * [DEVONthink Pro](http://www.devon-technologies.com/products/devonthink/index.html), an information management system for Mac OS X.

        * [Zotero](http://www.zotero.org/) (Free), a cross-platform bilbiographic database manager for [Firefox](http://www.getfirefox.com/). ([profile](https://www.zotero.org/moacir/3330))

        * [Scrivener](http://www.literatureandlatte.com/scrivener.html), a drafting environment for Mac OS X.

        * [MultiMarkdown](http://www.fletcherpenney.net/MultiMarkdown) (Free), a syntax for creating human-readable LaTeX / HTML documents.

        * [TeXShop](http://www.uoregon.edu/~koch/texshop/) (Free), a Mac OS X front end for formatting documents with [XeLaTeX](http://en.wikipedia.org/wiki/XeTeX).

        * [BibDesk](http://bibdesk.sourceforge.net/) (Free), a Mac OS X front end for formatting bibliographies in [BibTeX](http://en.wikipedia.org/wiki/BibTeX).

        * [National History GIS](http://www.nhgis.org/) (Free), an online repository of US Census and geographical data.

        * [GeoDa](http://geodacenter.asu.edu/) (Free), a spatial data analysis application.

        * [Quantum GIS](http://www.qgis.org/) (Free), an Open Source Geographic Information System.

        * [ArcGIS](http://www.esri.com/software/arcgis/), an integrated system for creating a Geographic Information System.

        * [R](http://www.r-project.org/) (Free), a software environment for statistical computing.
