#main.wrapper.clearfix
  %article
    #photo_box{style: "padding: 20px; color: #186437; align: center; width: 800px; background: url(/images/canary_bg.png) repeat left #fdfdbf; font-size: 18px; line-height: 22px;"}
      %h1 Let’s party!

      %p Thanks for RSVPing. Below is a list of everyone who is participating. If you are coming to the pre-dinner cocktails, please consider bringing libations or, if you’re under 21, salty snacks. Vodka and beer match the secret theme the best.

      %h2 Schedule (for Saturday, 7 May 2016)

      %ul
        %li
          %b 16:00
          Beer & vodka cocktails at Moacir’s (
          %a{href: "http://www.openstreetmap.org/?mlat=40.72956&mlon=-73.99512#map=19/40.72956/-73.99512", target: "_blank"} 14 Washington Pl. #4E
          ).
        %li
          %b 19:00
          Dinner at Brick Lane Curry House (
          %a{href: "http://www.openstreetmap.org/?mlat=40.72730&mlon=-73.98881#map=19/40.72730/-73.98881", target: "_blank"} 99 2nd Ave. (at 6th)
          ).
        %li
          %b 22:00
          Post-dinner drinks at Ace Bar (
          %a{href: "http://www.openstreetmap.org/?mlat=40.72431&mlon=-73.98293#map=19/40.72431/-73.98293", target: "_blank"} 531 E. 5th (btwn A & B)
          ).
          
      %h2 Guests:

      %table
        %thead
          %th{style: "padding: 5px;"} Name
          %th{style: "padding: 5px;"} Guests
          %th{style: "padding: 5px;"} Cocktails?
          %th{style: "padding: 5px;"} Dinner?
          %th{style: "padding: 5px;"} Drinks?
        - drinks = 0
        - dinner = 0
        - cocktails = 0
        - @guests.each do |guest|
          %tr
            %td{style: "padding: 0px 5px;"}= guest.short_name
            %td{style: "text-align: center;"}= guest.numbers
            - if guest.cocktails?
              - cocktails += guest.numbers
              %td{style: "text-align: center;"} 🍺
            - else
              %td &nbsp;
            - if guest.dinner?
              - dinner += guest.numbers
              %td{style: "text-align: center;"} 🍛 
            - else
              %td &nbsp;
            - if guest.drinks?
              - drinks += guest.numbers
              %td{style: "text-align: center;"} 🍻
            - else
              %td &nbsp;
        %tr
          %td &nbsp;
          %td &nbsp;
          %td{style: "text-align: right;"}= cocktails
          %td{style: "text-align: right;"}= dinner
          %td{style: "text-align: right;"}= drinks

