#main.wrapper.clearfix
  %article
    %header
      %h1
        %i #mla15 #s344 
        (a special session)
    %section
      %img(src="/images/mla-splash-banner.png" title="Geocritical Explorations inside the Text")
    
      :markdown

        On behalf of the presenters and respondent, I would like to welcome you
        to session 344 of the 130th Annual
        [Convention](http://www.mla.org/convention) of the [Modern Language
        Association](http://www.mla.org), a special session entitled
        “Geocritical Explorations inside the Text.” Briefly, this special
        session will return the focus of (sometimes digital) geospatial
        criticism back to the spaces produced inside the text. Of critical
        importance for us is considering how the spaces inside the text
        resonate with their analogous spaces outside the text.

        Below you should find more than enough information about this panel,
        but if you would like to know more, please [contact](/contact) Moacir,
        the presider.

        * **When**: Friday, 9 January 2015, 3:30 – 4:45 p.m. ([gcal event](https://www.google.com/calendar/render?eid=OGFsMDUzcnFkNWZzcmlwanVtZDJkcTRjbTAgbG1kYzNrbTAwOGl0NXU0c2Rxa2QybG10azRAZw&ctz=Europe/Vilnius&sf=true&output=xml))
        * **Where**: East 2, Vancouver Convention Centre East (Canada Place), ([map](http://osm.org/go/WJQrS69W0-?m=))
 
        *Presiding:* [Moacir P. de Sá Pereira](http://moacir.com/), Vilnius Gediminas Tech. Univ.

        1. “‘Could Be’: Langston Hughes as Situationist Cartographer,” [Alba Newmann Holmes](https://www.willamette.edu/cla/english/faculty/newmann_holmes/index.html), Willamette Univ.
        1. “*Paterson* and Paterson: The Literary Cartography of City and Text as Revealed through GIS (Geographical Information System),” [Michael A. Smith](http://duq.academia.edu/MikeSmith), Duquesne Univ.
        1. “Expatriate Hunger: GIS-Generated Literary Analysis of Food, Drink, and Sex ‘inside’ Expatriate Literature,” [Amy D. Wells](http://unicaen.academia.edu/AmyWells), Université de Caen Basse-Normandie Site Cherbourg

        *Respondent:* [Robert T. Tally Jr.](http://www.roberttally.com), Texas State Univ.

        *Keywords:* geocriticism, spatiality, digital humanities, mapping, GIS

    %section
      %a#bios_subhead.trigger(href="#{subheads["bios"][:anchor]}" title="Click to expand/collapse topic")
        %h2 Bios →
      #bios_body.toggle(style="#{subheads["bios"][:showme]}")
        :markdown

          [**Moacir P. de Sá Pereira**](http://moacir.com) (presider)
          ([@muziejus](http://www.twitter.com/muziejus)) earned a PhD from the
          University of Chicago in July 2014. Long interested in the ways in
          which GIS technologies and human geography can enhance literary
          criticism, de Sá Pereira has been invited to two NEH-funded events on
          geospatial literary scholarship: at the University of Virginia’s
          Institute for Enabling Geospatial Scholarship in 2010 and at Redlands
          University’s workshop “Visualizing Flow and Movement in the
          Humanities” in 2012. Similarly, de Sá Pereira has often presented on
          the geospatial aspects of “The Site of the Novel.” Most recently,
          “[Robert Jordan’s Nearest Neighbor: A *For Whom the Bell Tolls*
          GIS](http://moacir.com/talks/robert-jordans-nearest-neighbor/)” was
          presented at the “[Telling Stories with
          Maps](http://hestia.open.ac.uk/hestia2birmingham-30-april-2014/)”
          workshop at the Digital Humanities Hub at the University of
          Birmingham in April 2014. Currently, de Sá Pereira is working on a
          book on the challenges of using GIS on literary texts as well as
          on an online atlas—featuring an application programming interface—of
          John Dos Passos’s *U.S.A.*

          [**Alba Newmann
          Holmes**](https://www.willamette.edu/cla/english/faculty/newmann_holmes/index.html)
          received her PhD in English from the University of Texas at Austin in
          2006. Her dissertation “‘Language is not a vague province’: Mapping
          and Twentieth-Century American Poetry” examined the ways in which
          poetic structures, like cartographic structures, organize
          knowledge—how they can claim territory or order experience, while
          leaving necessary openings for uncertainty, interpretation, and
          discovery. A chapter from her dissertation was published in the
          *William Carlos Williams Review* as “[*Paterson*: Poem as
          Rhizome](http://muse.jhu.edu/journals/wcw/summary/v026/26.1newmann.html).”
          This piece attends to the similarities between Williams’s long poem
          and mapping as conceived of by theorists Gilles Deleuze and Félix
          Guattari. In 2010, Newmann Holmes participated in the NEH Summer
          Institute “[Mapping and Art in the
          Americas](http://www.newberry.org/07122010-neh-summer-institute-mapping-and-art-americas),”
          hosted by the Newberry Library. She returned to the Newberry
          Library’s Hermon Dunlap Smith Center for the History of Cartography
          in 2011, on a short-term research grant. In 2013, as a member of
          Willamette University’s Liberal Arts Research Collaborative program,
          she received a Mellon Foundation-funded summer research grant for
          “The Situation in Harlem: Langston Hughes’ Poetry as Psychogeographic
          Map.” She is a Visiting Assistant Professor of English and Director
          of the Writing Center at Willamette University.

          [**Michael A. Smith**](http://duq.academia.edu/MikeSmith)
          ([@Mike_WordSmith](http://www.twitter.com/Mike_WordSmith)) is a Ph.D.
          student in English at Duquesne University and earned a Master of Arts
          in English at Boston College beforehand. He is planning a
          dissertation focused on literary cartographies of the urban American
          cityscape at the turn of the 20th century. Smith’s interest in
          geocritical explorations began with the anthropological pilgrimage
          research of Victor and Edith Turner on liminoid phenomena throughout
          El Camino de Santiago. His scholarship includes recently presented
          research on the textual production of Walt Whitman’s, Henry David
          Thoreau’s, and Edgar Allan Poe’s literary gravesites for the American
          Literature Association, contemporary pilgrimage narratives from
          Seamus Heaney and Cormac McCarthy for the Conference on Christianity
          and Literature, and the Pittsburgh literary cartography of Willa
          Cather, presented for the Modernist Studies Association.

          [**Amy D. Wells**](http://unicaen.academia.edu/AmyWells) ([@amywells06](http://twitter.com/amywells06)) is an associate
          professor of English in the Applied Foreign Languages Department at
          the Université de Caen Basse-Normandie in France. Since her PhD
          thesis, “Gender and Geography: A Geocritical Approach to Left Bank
          Women's Writing” (2008), she has been pursuing geocritical projects,
          crossing questions of gender with expatriate literature and literary
          cartography. In 2013, her translation of Bertrand Westphal’s [*The
          Plausible World: A Geocritical Approach to Space, Place, and
          Maps*](http://www.palgrave.com/page/detail/the-plausible-world-bertrand-westphal/?K=9781137364586)
          was published by Palgrave Macmillan in the *Geocriticism and Spatial
          Literary Studies* series. This year, a collection of essays she
          co-edited, [*Traces, empreintes, monuments: quels lieux pour quelles
          mémoires? de 1989 à nos
          jours*](http://www.pulim.unilim.fr/index.php/notre-catalogue/fiche-detaillee?task=view&id=774),
          was published by the Presses Universitaires de Limoges (PULIM). Her
          contribution to this collection, “Laisser une trace: les écrits des
          femmes soldats américaines en Irak comme lieu de mémoire,” examines
          the use of literature as a site of memory. Other published works on
          geocriticism include “[The Intertextual, Sexually-Coded Rue Jacob: A
          Geocritical Approach to Djuna Barnes, Natalie Barney, and Radclyffe
          Hall](http://www.jstor.org/stable/40039995)” in the *South Central
          Review* (Fall 2005) and “[Des cartes métaphoriques aux cartes SIG : la
          cartographie comme outil d’analyse
          littéraire](http://www.academia.edu/3629222/La_cartographie_comme_outil_danalyse_litteraire_des_cartes_metaphoriques_aux_cartes_SIG)”
          in *La “cartographie” en littérature et sciences humaines* (PULIM
          2013). 

          [**Robert T. Tally Jr.**](http://roberttally.com)
          ([@RobertTally](http://twitter.com/roberttally)) (respondent) is an
          associate professor of English at Texas State University, where he
          teaches American and world literature. He is the author of [*Poe and
          the Subversion of American Literature: Satire, Fantasy,
          Critique*](http://www.bloomsbury.com/us/poe-and-the-subversion-of-american-literature-9781623564278/);
          [*Spatiality (The New Critical
          Idiom)*](http://www.routledge.com/books/details/9780415664400/);
          [*Utopia in the Age of Globalization: Space, Representation, and the
          World
          System*](http://www.palgrave.com/page/detail/utopia-in-the-age-of-globalization-robert-t-tally-jr/?k=9780230391895);
          [*Kurt Vonnegut and the American Novel: A Postmodern
          Iconography*](http://www.bloomsbury.com/us/kurt-vonnegut-and-the-american-novel-9781472507006/);
          [*Melville, Mapping and Globalization: Literary Cartography in the
          American Baroque
          Writer*](http://www.bloomsbury.com/us/melville-mapping-and-globalization-9780826471512/);
          and [*Fredric Jameson: The Project of Dialectical
          Criticism*](http://www.plutobooks.com/display.asp?K=9780745332109). The
          translator of Bertrand Westphal’s [*Geocriticism: Real and Fictional
          Spaces*](http://www.palgrave.com/page/detail/geocriticism-bertrand-westphal/?k=9780230110212),
          Tally edited [*Geocritical Explorations: Space, Place, and Mapping in
          Literary and Cultural
          Studies*](http://us.macmillan.com/geocriticalexplorations/RobertTally),
          [*Kurt Vonnegut: Critical
          Insights*](http://www.salempress.com/press_titles.html?book=182), and
          *Literary Cartographies: Spatiality, Representation, and Narrative*
          (forthcoming). Tally also serves as the general editor of the Palgrave
          Macmillan book series *Geocriticism and Spatial Literary Studies*.

    %section
      %a#abstracts_subhead.trigger(href="#{subheads["abstracts"][:anchor]}" title="Click to expand/collapse topic")
        %h2 Abstracts →
      #abstracts_body.toggle(style="#{subheads["abstracts"][:showme]}")
        :markdown

          ### “‘Could Be’: Langston Hughes as Situationist Cartographer”

          In Langston Hughes’s poem “Could Be,” Hughes maps the epicenters
          of early-twentieth-century African-American culture onto one another:
          “Could Be Hastings Street, / Or Lenox Avenue, / Could be 18th & Vine /
          And still be true. . . .” In doing so, he collapses the physical
          distances between Detroit, New York, Kansas City, Dayton, and New
          Orleans. The result, I argue, is a map akin to those produced by Guy
          Debord and his fellow Situationsits: built out of fragments of
          traditional cartographic practice—dissected conventional city maps
          reassembled as collage—such maps convey “an experience of space that
          [is] terrestrial, fragmented, subjective, temporal and cultural.” (Simon
          Sadler, The Situationist City). The concise form of the poem lends
          itself particularly well to embodying such spatial
          juxtapositions—layering and correlating sites that remain discrete in
          the world outside the text. However, the effects in Hughes’ poems are
          quite different from his Situationist counterparts. Their maps have been
          critiqued, as expressions of bourgeois nostalgia. In contrast, Hughes’s
          fragmented and reassembled maps ultimately undermine the very
          iconography of place that his poetry has been credited with creating.
 
          ### “*Paterson* and Paterson: The Literary Cartography of City and Text as Revealed through GIS (Geographical Information System)”
 
          This paper follows the arguments of George Zabriskie, William Klink, and Robert Smithson in their attempts to reconcile William Carlos Williams’s *Paterson* with the Passaic River and Paterson, New Jersey. Each text articulates its own unified relationship between poem, city, and river, yet also contributes to a fractured, problematic discourse about Passaic county. We can trace the winding niceties of this discourse along the river through examinations of particular intersections (both geographic and literary) of the Passaic and the aforementioned ancillary texts.
          
          This interconnected narrative of river, city, and text anticipates the arguments of T. Hugh Crawford and Alba Newmann, which view *Paterson* as a proto­hypertext and a Deleuzian rhizome, respectively. She proposes in her article, “Poem as Rhizome” that *Paterson*, like the neighboring Passaic, “is an enactment; it is a text that shifts, flows, and falls, that breaks off and starts again, that ‘somersaults’ and escapes,” after asserting, “in disruption and disorientation there is the potential for discovery” (54). By employing Franco Moretti’s tool of “distant reading” to *Paterson* and the Passaic, I posit that the decentralized authority that defines the rhizome leads to an open space of exploration, which begs for mapping. The map complements the poem­as­rhizome model Newmann puts forth, and I will show how Geographic Information Systems (GIS) inform these existing texts about the river (starting with *Paterson* and continuing through the others listed above) and create a text that charts data on soil, historic landmarks, and sites of pollution. In doing so, the map argues for its own inclusion into the oeuvre of the river, for in its display of such conflicts and crises, it reveals its own as well.
  
          ### “Expatriate Hunger: GIS-Generated Literary Analysis of Food, Drink, and Sex ‘inside’ Expatriate Literature”
  
          One theme common to the characters of interwar expatriate literature is that they are often physically, artistically, and sexually hungry. Their hunger is represented as the result of and the reason for their expatriation: the characters may not have enough to eat because they are living abroad, yet they have gone abroad to fulfill artistic and sexual appetites. Furthermore, their appetite for food or other soul-filling substances may be the motive behind a character’s *flânerie* across the city space. 

          Employing the methodology of socio-literary geomatics, I have created a database entitled *Géographie Littéraire Anglophone de Paris 1903-1941*. My previous work has focused on identifying geographic zones of Paris used by writers based on their gender or nationality. However, this analytical tool is not just limited to physical representations of places through cartography. Having also digitized the literary experiences of place, the data can be exploited to establish a taxonomy of expatriate places cited and visited *inside* the text, which in turn, can lead to identifying geographical and social trends within the literary corpus. To understand the geocoding of these sites of consumption within the literary geography of Anglophone expatriates, we will briefly consider hunger as a narrative structure, the taxonomy of sites of consumption as generated by the database, and finally, a cartography of expatriate hunger. 
                       
 
    %section
      %a#proposal_subhead.trigger(href="#{subheads["proposal"][:anchor]}" title="Click to expand/collapse topic")
        %h2 Proposal →
      #proposal_body.toggle(style="#{subheads["proposal"][:showme]}")
        :markdown

          This proposal was sketched out initially in a call for papers
          [described in
          detail](http://moacir.com/donkeyhottie/2014/03/01/geocritical-explorations-within-the-text/)
          on the blog *Donkey Hottie*. Below is the proposal as submitted to
          the MLA.

          This panel aims to provide a reenergized voice to literary
          scholarship that considers the geographical space produced inside a
          literary object by treating it as part of the space produced outside
          of the object. Franco Moretti argues in [*Atlas of the European Novel*](http://www.versobooks.com/books/145-atlas-of-the-european-novel-1800-1900)
          (1997/1998) that there is an essential difference that separates a
          “fictional” space within a literary object from the “real” space
          containing the literary object. We consider that dichotomy an
          unproductive one and posit, instead, a geocritical approach to
          literary criticism that treats both spaces as produced, and hence, as
          ontologically similar.

          Much contemporary geospatial scholarship leaves behind the spaces
          produced inside the object in favor of working strictly with the
          model of an already mapped geographical world. Part of this is
          perhaps the result of readily accessible mapping technologies as well
          as an increased interest in the humanities in geographical
          information systems/science (GIS). Using these technologies, scholars
          often trace either books or authors as they move through the world,
          building and reinforcing various networks. At last year’s convention,
          for example, the “[Geospatial Literary Studies](http://storify.com/DJWrisley/geospatial-literary-studies-mla-2014)” special session (#782)
          treated us to an investigation of the geographical distribution of
          bookstores in 19th century New York City and how news spread in the
          18th century inside the United Kingdom through the correspondence
          network of the state’s diplomats distributed through Europe. Even
          David Cooper and Ian N. Gregory’s specifically literary GIS,
          “[Mapping the English Lake
          District](http://www.lancaster.ac.uk/mappingthelakes/),” tracks the
          *movements* of Thomas Gray and Samuel Taylor Coleridge, looking to
          the *content* of the diaries only to try to draw a correlation
          between their feelings and where they were at the time. Though this
          scholarship is fascinating and inspiring, it reinforces the dichotomy
          Moretti describes. The fictional world can be mapped, and Moretti has
          done so as well, but under the rules of the dichotomy, that world
          will always be a subservient “version” of the more important “real”
          world.

          This panel approaches the question, instead, from a *geocritical*
          perspective. As described by Bertrand Westphal in
          [*Geocriticism*](http://www.palgrave.com/page/detail/geocriticism-bertrand-westphal/?k=9780230110212)
          (2007/2011) and amplified (as well as amended) both in the collection
          [*Geocritical
          Explorations*](http://us.macmillan.com/geocriticalexplorations/RobertTally)
          (2011), edited by Robert T. Tally Jr., and in Tally’s own
          [*Spatiality*](http://www.routledge.com/books/details/9780415664400/)
          (2013), geocriticism rejects the dichotomy suggested by Moretti,
          arguing instead that as space is produced both within the literary
          object and without, it follows that spaces oscillate between the two
          realms. Drawing on a tradition at least as old as Mikhail Bakhtin’s
          “chronotope,” which insists on the unbreakable relationship between
          spacetime within the novel and without, geocriticism also depends on
          the theoretical tradition more commonly associated with the spatial
          turn in the humanities, such as Henri Lefebvre’s [*The Production of
          Space*](http://eu.wiley.com/WileyCDA/WileyTitle/productCd-0631181776.html)
          (1974/1991). Gilles Deleuze and Félix Guattari’s [*A Thousand
          Plateaus*](http://www.upress.umn.edu/book-division/books/a-thousand-plateaus)
          (1980/1987) and Edward Soja’s
          [*Thirdspace*](http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1557866740.html)
          (1996). But where this panel diverges from the general geocritical
          tradition is with its focus, specifically, on the cartography of
          literary objects and on the analysis that becomes possible once we
          abandon a real/fictional world dichotomy and start mapping aesthetic
          worlds using tools typically reserved for the real world.

          After a short introduction by presider Moacir P. de Sá Pereira
          reminding the panelists they each have only fifteen minutes, Alba
          Newmann Holmes begins the discussion by considering Langston Hughes
          as a situationist cartographer. Hughes’s collapsing of physical
          distances between American cities creates a “situationist” map akin
          to those produced by Guy Debord. Fragmenting and rebuilding maps as a
          collage leads the reader of the map or poem to apprehend, suddenly,
          unrecognized relationships at work in the terrain. Newmann Holmes
          contends that the poetic form lends itself especially well to
          embodying these spatial juxtapositions by layering and correlating
          sites in ways that startle the reader. The result is that Hughes’s
          poem-as-map demonstrates the irrelevance of the site outside the map
          in comparison to the personal loss mapped within the aesthetic
          object.

          Michael A. Smith follows by taking advantage of GIS technology to map
          William Carlos Williams’s *Paterson* (1963) and its textual
          descendants onto the Passaic River and Paterson, New Jersey. Smith
          argues that each text articulates its own unified relationship
          between poem, city, and river, while also contributing to a fractured
          and problematic discourse about Passaic County. The decentralized
          authority of *Paterson* provides an opportunity for exploring both
          Williams’s New Jersey and the New Jersey available to a GIS,
          especially in provoking questions that appear when comparing
          *Paterson* to data on historic landmarks, soil, and sound pollution.
          The nuances of *Paterson*, Smith concludes, especially in comparison
          to the texts it influenced, remain obscured until they are mapped
          with data outside of *Paterson*’s tradition of reception.

          Amy D. Wells closes with a presentation on how the various forms of
          hunger (physical, artistic, and sexual) shown in expatriate
          literature account for the *flânerie* demonstrated by characters in
          literary objects as they move across the city space. To help map this
          *flânerie*, Wells built the Géographie Littéraire Anglophone de Paris
          1903–1941 database. The database can be exploited to establish a
          taxonomy of expatriate places cited and visited inside the text,
          which can subsequently lead to identifying geographical and social
          trends within the expatriate literary corpus. Wells then uses the
          database to map the way in which hunger serves as both a narrative
          structure and a taxonomy of consumption.

          All three geocritical presentations move past the field as described
          by Westphal. To help tie together the panel’s advances, shown by
          active mapping, situationist or digital, Robert T. Tally Jr. will
          respond to the three panelists. Our hope is that Tally’s response, as
          well as the discussion with the audience, will stimulate everyone
          present into contributing to the maturation of geocriticism. In
          fusing both theoretical and digital traditions of cartography while
          maintaining the tight relationship between produced space inside the
          text and outside, we feel that we can build a mode of literary
          inquiry that maintains a relationship to both the aesthetic and real. 

  %aside
    %h1 Geocriticism
    %ul
      %li
        %a(href="https://en.wikipedia.org/wiki/Geocriticism") Wikipedia entry
      %li
        %a(href="https://www.facebook.com/groups/245859704390/?ref=br_tf") Facebook group 

    %p.twitter
      %a(class="twitter-timeline" href="https://twitter.com/search?q=%23mla15+%23s344"  data-widget-id="489323780120932352")Tweets about "#mla15 #s344"
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

